

:root {
    --font-family: 'Libre Franklin', sans-serif;
  
    --paleBlue: hsl(223, 100%, 88%);
    --lightRed: hsl(354, 100%, 66%);
    --Gray: hsl(0, 0%, 59%);
    --VeryDarkBlue: hsl(209, 33%, 12%);
    --Blue: hsl(223, 87%, 63%);
    --White:#fff;
  }
  
  *,
  ::before,
  ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;border:none;
    font-family: var(--font-family);

}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 2rem;
}
.main-container img{
    padding-bottom: 3rem;
}
.content{
    text-align: center;
}

h1{
    color: var(--Gray);
    font-weight: 300;
    font-size: 3rem;
    padding-bottom: 1.5rem;
}
h1>span{
    font-weight: 700;
    color: var(--VeryDarkBlue);
}
p{
    font-size: 1.5rem;
    padding-bottom: 2rem;
}
.classForm{
    width: 100%;
    text-align: start;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
}
.btn{

  margin-top: 1.5rem;
  width: 10rem;
  text-align: center;
  text-decoration: none;
  padding: 15px;
  background-color: var(--Blue);
  color: var(--White);
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.301);
}

.input span{
    padding-left: 2rem;
    margin-top: 2rem;
    font-style: italic;
    
}


.inputText{
    
    margin-top: 1.5rem;
    margin-right: 1rem;
    width: 30rem;
    padding: 15px;
    background-color: var(--White);
    color: var(--VeryDarkBlue);
    border: 1px solid var(--Gray);
    border-radius: 40px;
    
}
.illustration{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
}
.illustration img{
    width: 50%;
}

.social_rights{
    text-align: center;
}
.social{
    padding-bottom: 2rem;
}
.social .icon{
    margin-left: 1rem;
    border-radius: 50%;
    cursor: pointer;    
}
ion-icon {
    font-size: 2rem;
    color:var(--Blue);
    
}
ion-icon:hover{
    transform: translateY(-15px);
}

.rights p{
    color: var(--Gray);
    font-size: 1rem;
}




 /*media querie*/
 @media(max-width:768px){
    html{
        font-size: 55%;
    }
    

    .classForm{
        width: 100%;
        text-align: start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .btn{
        width: 30rem;
    }
    .illustration img{
        width: 80%;
    }
     
   
}